#img1 {
    /*background-image: url("http://localhost:port/img/home.png");*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 
    center center;
    position: absolute;     
    width: 800px;
    height: 600px;
    top: 100px;
    left: 200px;
}

#person { 
    /*border: 2px solid; #000000;*/
    /*padding: 10px 40px;*/ 
    background: #119911;
    width: 20px;
    height: 20px;
    border-radius: 25px;
}
#p1 {
    background: #991111;
    width: 10px;
    height: 10px;
    border-radius: 25px;    
    position: absolute;
    left: 300px;
    top: 600px;
}
#p2 {
    background: #991111;
    width: 10px;
    height: 10px;
    border-radius: 25px;    
    position: absolute;
    left: 300px;
    top: 500px;   
}
#p3 {
    background: #991111;
    width: 10px;
    height: 10px;
    border-radius: 25px;    
    position: absolute;
    left: 300px;
    top: 400px;
}
#p4 {
    background: #991111;
    width: 10px;
    height: 10px;
    border-radius: 25px;    
    position: absolute;
    left: 500px;
    top: 500px;
}

#p5 {
    background: #991111;
    width: 10px;
    height: 10px;
    border-radius: 25px;    
    position: absolute;
    left: 500px;
    top: 200px;
}

